<script>
  // Save user preference in local storage
  if (!('darkmode' in localStorage)) {
    localStorage.darkmode = parseInt(
      window.matchMedia('(prefers-color-scheme: dark)').matches
    );
  }
  // Set mode
  const setDarkMode = () => {
    btn = document.getElementById("lightswitch");
    if (localStorage.darkmode == 1) {
      document.documentElement.classList.add('dark');
      btn.setAttribute('aria-checked', 'false');
    } else {
      document.documentElement.classList.remove('dark');
      btn.setAttribute('aria-checked', 'true');
    }
  };
  // Toggle
  const toggler = () => {
    
    if (localStorage.darkmode == 1) {
      localStorage.darkmode = 0;
      setDarkMode();
    } else {
      localStorage.darkmode = 1;
      setDarkMode();
    }
  };
</script>