@import url('https://use.typekit.net/avb7ftr.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*******************
  * Main site parts
  *******************/

  body {
    @apply transition duration-200 bg-blue-100 dark:bg-gray-900 text-base text-gray-800 dark:text-gray-100;
    font-size: 1.15rem;
  }

  header {
    @apply container;
  }

  main article {
    @apply container max-w-3xl mx-auto;
  }

  footer {
    @apply container py-8 mt-24 border-t border-indigo-500;
  }

  /*******************
  * Images and media
  *******************/

  figure {
    @apply my-8  border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-800;
  }

  figure.blockquote {
    @apply my-8 p-4  border-l-8 border-blue-400;
  }

  figcaption {
    @apply p-3 text-base text-gray-700 dark:text-gray-300;
  }

  .image_credit {
    @apply text-base italic text-gray-500 dark:text-gray-400;
  }

  .image_credit a {
    @apply text-base underline underline-offset-4 text-gray-500;
  }

  figure.blockquote > figcaption {
    @apply p-0 text-base text-gray-600 dark:text-gray-300;
    content: '&mdash;';
    color: #646464;
  }

  figure.blockquote > figcaption::before {
    @apply p-0 text-base text-gray-600 dark:text-gray-300;
    content: '\2014 ';
    padding-right: 0.5em;
    color: #646464;
  }

  /*******************
  * Lists
  *******************/

  article > ul {
    @apply list-outside list-disc ml-6 py-6 marker:text-blue-600;
  }

  article > ul > li {
    @apply my-3;
  }

  article > * > a,
  figcaption > a {
    @apply text-blue-600 dark:text-blue-200 underline underline-offset-4;
  }

  ul.accordion {
    @apply list-none;
  }

  ul.accordion li {
    @apply p-3 border-b border-gray-200 dark:border-gray-800;
  }

  /*******************
  * Navigation
  *******************/
  .nav {
    @apply text-xl text-indigo-800 dark:text-indigo-200 py-4 font-bold flex;
  }

  .nav-list {
    @apply flex space-x-8 font-light;
  }

  .darkmode-toggle {
    margin-left: auto;
  }

  /******************************************
  * Headings
  ******************************************/

  h1,
  h2,
  h3 {
    @apply pb-3 font-serif break-words;
  }

  h1 {
    @apply text-6xl pt-24;
  }

  h2 {
    @apply text-3xl pt-16;
  }

  h3 {
    @apply text-2xl pt-8;
  }

  /******************************************
  * Paragraphs
  ******************************************/

  p {
    @apply text-gray-800 dark:text-gray-200 py-3;
  }

  .lead {
    @apply text-2xl pt-2 pb-10 text-gray-800 dark:text-gray-200;
  }

  /******************************************
  * Buttons
  ******************************************/
  .btn {
    @apply mx-4 align-text-bottom inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 dark:text-blue-100 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }
}
